################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution/GlobalParams/obj
/Solution/Installers/GlobalParamsUI/obj
/.vs
/Solution/.vs/GlobalParams/v15
/Solution/GlobalParams/bin/Debug
/Solution/packages
/Solution/GlobalParams/bin/Release
/Solution/Installers/GlobalParamsBA/bin/Release
/Solution/Installers/GlobalParamsBA/obj/Release
/Solution/Installers/GlobalParamsUI/bin/Release
/Solution/Installers/GlobalParamsMSI/obj/Release
/Solution/Installers/GlobalParamsMSI/bin/Release
