<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" >
	<Bundle Name="Global Params" Version="1.1.0.0" Manufacturer="Troy Palacino" UpgradeCode="B3CF1E79-B607-421C-862F-C40A7FCA809C"
					HelpUrl="http://globalparams.codeplex.com">

		<BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost" >
			<Payload SourceFile="BootstrapperCore.config" />
			<Payload SourceFile="$(env.WixWPF)v3.11\WixWPF.dll" />
			<Payload SourceFile="$(env.WixWPF)v3.11\WixWPF.pdb" />
			<Payload SourceFile="$(var.GlobalParamsUI.TargetPath)" /> 
		</BootstrapperApplicationRef>

		<Chain>
			<PackageGroupRef Id="NetFx40Web"/>
			<MsiPackage Id="GlobalParamsMSI" SourceFile="$(var.GlobalParamsMSI.TargetPath)" />
		</Chain>
		
	</Bundle>
</Wix>